<?xml version="1.0"?>
<robot name="six_dof_arm_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo reference="bottom_link">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="base_link">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="shoulder_pan_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="shoulder_pitch_link">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="elbow_roll_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="elbow_pitch_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="wrist_roll_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="wrist_pitch_link">
    <material>Gazebo/White</material>
  </gazebo>

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/six_dof_arm</robotNamespace>
    </plugin>
  </gazebo>

</robot>
